@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
nav {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    animation: animate-descend 1s linear;
    padding-left: 50px;
    padding-right: 50px;
}
.nav-title{
    display: flex;
    height: 100%;
    width: 8rem;
    align-items: center;
    justify-content: center;
    position: relative;
}
/* .nav-title > img {
    width: 50%;
    position: absolute;
    left: -30px;
} */
.nav-title > h1{
    color: white;
    font-size: 26px;
    font-family: 'Noto Serif', serif;
}
.nav-links{
    display: flex;
    height: 100%;
    width: fit-content;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
/* .nav-links > button{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 4px;
    background: none;
    border: none;
    flex-direction: column;
} */
.nav-links > a{
    display: flex;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-weight: bold; */
    text-decoration: none;
    padding: 10px;
    margin: 4px;
    animation: animate-links 1s linear;
    font-size: 12px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-links > a:hover{
    color: rgb(103, 64, 247);
    font-size: 16px;
}
.nav-links > a:hover > span {
    display: flex;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 2px;
    animation: animate-indicator 0.3s linear;
}
.indicator {
    display: none;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 2px;
    animation: animate-indicator 0.3s linear;
}
.nav-auth{
    display: flex;
    height: 60%;
    width: 120px;
}
.nav-auth > button{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: none;
    border: 0.5px solid rgb(75, 75, 75);
    border-radius: 6px;
    color: white;
    box-shadow: 1px 1px 14px 1px black;
}
.nav-auth > button:hover{
    background: white;
    color: black;
    cursor: pointer;
    box-shadow: 1px 1px 10px 6px rgb(26, 25, 25);
}
.nav-links > button:hover{
    cursor: pointer;
}
.nav-links > button:hover > span{
    display: flex;
}
.min-menu-btn {
    display: none;
    height: 60%;
    width: 40px;
}
.min-menu-btn > button {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 6px;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    border: 0.5px solid rgba(75, 75, 75, 0.349);
    border-radius: 4px;
}
.min-menu-btn > button > svg {
    stroke: white;
    fill: white;
}
.min-menu-btn > button:hover {
    cursor: pointer;
    background: white;
    box-shadow: 1px 1px 10px 6px rgb(26, 25, 25);
}
.min-menu-btn > button:hover > svg {
    stroke: black;
    fill: black;
}
svg text {
    font-family: Lora;
    letter-spacing: 8px;
    stroke: rgb(82, 82, 238);
    font-size: 30px;
    font-weight: 800;
    stroke-width: 1.2;
   
    animation: textAnimate 5s infinite alternate;
    
  }
  
  @keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      fill:hsl(189, 68%, 75%)
  
    }
    
    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: hsla(189, 68%, 75%,0%)
    }
    
  }
@keyframes animate-descend {
    0%
    {
        position: absolute;
        top: -50px;
    }
    100%
    {
        position: fixed;
        top: 0%;
    }
}
@keyframes animate-links {
    0% {
        position: absolute;
        left: -2000px;
        margin: 100px;
    }
    100%
    {
        left: 0%;
    }
}
@keyframes animate-indicator {
    0% {
        width: 0%;
    }
    50% {
        width: 100%;
    }
    70% {
        width: 70%;
    }
    100% {
        width: 100%;
    }
}
@media (max-width: 630px) {
    .nav-links {
        display: none;
    }
    .nav-auth {
        display: none;
    }
    .min-menu-btn {
        display: flex;
    }
}